.banner{
    background: var(--azul-degrade);
    color: var(--cor-branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--cor-branco);
    color: var(--cor-branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--cor-branco);
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: 0.5em;
}

/*Configurações MIN-WIDTH: 1024px */


/*---------------FIM---------------*/


@media screen and (min-width: 1024px){

    .banner__titulo{
        font-size: 36px;
    }

    .banner__pesquisa{
        width: 50%;
    }

    .banner__pesquisa::placeholder{
        background-position: 6em;
    }

    .banner{
        padding: 4em 2em;
    }

}

/*Configurações MIN-WIDTH: 1200px */


/*---------------FIM---------------*/


@media screen and (min-width: 1200px){

    .banner__pesquisa{
        width: 30%;
        margin-top: 1em;
    }

    .banner__pesquisa::placeholder{
        background-position: 4em;
    }

    .banner{
        padding: 7em 2em;
    }

}
