.carrossel__titulo{
    color: var(--cor-laranja);
    background-color: var(--cor-branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0.5em 1em;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.swiper-pagination-bullet-active{
    background: var(--azul-degrade);
 }

 .card__descricao{
    display: flex;
    justify-content: space-between;
 }

 .card__botao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 0 0;
 }

 .botoes{
    display: flex;
    align-items: center;
    padding: .5em .5em;
    gap: 1em;
 }

 .card{
    border-radius: 10px;
    background: var(--cor-branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
 }

 .descricao__titulo{
    color: var(--cor-laranja);
    font-size: 16px;
    font-weight: 700;
 }

 .descricao__titulo-livro{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: .5em 0;
 }

 .descricao__texto{
    color: var(--azul-degrade);
    font-size: 14px;
    font-weight: 400;
 }

 .descricao{
    margin: 1em 0;
 }

 .botoes__ancora{
    padding: 1em 2.2em;
    background-color: var(--cor-laranja);
    font-size: 16px;
    font-weight: 700;
    color: var(--cor-branco);
    text-decoration: none;    
 }

/*Configurações MIN-WIDTH: 1024px */


/*---------------FIM---------------*/


@media screen and (min-width: 1024px){

   .carrossel__titulo{
      font-size: 26px;
   }

   .swiper-pagination{
      margin: 2em 0 3em 0;
   }

   .swiper{
      width: 65%;
   }

   .swiper-button-prev, .swiper-button-next{
      display: block;
      color: var(--azul);
      font-weight: 700; 
      top: 60%;
  }

  .card{
   width: 50%;
   margin: 2em auto;
  }

}