.cabecalho__menu-hamburguer{
    height: 24px;
    width: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista__menu{
    display: block;
}

.lista__menu__titulo, .lista__menu__item{
    padding: 1em;
    background-color: var(--cor-branco) ;

}

.lista__menu__titulo{
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista__menu__link{
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__botao{
    display: none;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer{
    background-image: url("/img/menuaberto.svg");
}

.container__botao:checked~.container__rotulo{
    background: var(--azul-degrade);
}

/*Configurações MIN-WIDTH: 1024px */

.container__titulo, 
.opcoes{
    display: none;
}



/*---------------FIM---------------*/


@media screen and (min-width: 1024px){
    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonte-secundario);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;

    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
        color: var(--cor-preta);

    }

    .opcoes__link{
        text-decoration: none;
        color: var(--cor-preta);
    }

    .cabecalho__menu-hamburguer,
    .container__imagem--transparente{
        display: none;
    }

    .opcoes__botao:checked~.lista__menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item{
        background: var(--azul-degrade);
        color: var(--cor-branco);
    }

    .opcoes__item{
        padding: 1.5em 1em;
    }

    .lista__menu__item:hover{
        background: var(--azul-degrade);
    }

    .lista__menu__item:hover>.lista__menu__link{
        -webkit-text-fill-color: var(--cor-branco);
        text-decoration: none;
    }

    .opcoes__item:hover{
        background: var(--azul-degrade);
        color: var(--cor-branco);
    }

    .opcoes__item:hover>.opcoes__link{
        color: var(--cor-branco);
    }
   

}



.container__imagem__texto{
    display: none;
}






@media screen and (min-width: 1200px){
    .container__imagem__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-preta);
        font-size: 20px;
    }

    .container__imagem__texto{
        display: block;
    }

    .opcoes{
        margin-right: auto;
    }

    .cabecalho{
        padding: 0 2em;
    }

    
}