@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodape.css");

:root{
    /*Cores do Site*/
    --cor-de-fundo: #ebecee;
    --cor-branco: #ffffff;
    --cor-laranja: #EB9B00;
    --azul-degrade: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;
    --cor-rodape: #f9f9f9;

    /*Fontes do Site*/
    --fonte-principal: 'Poppins', sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
}
