.topicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo{
    color: var(--cor-branco);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1em;

}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item{
    margin: 2em .5em;
}

.topicos__link{
    background-color: var(--cor-laranja);
    padding: 1em;
    color: var(--cor-branco);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

/*Configurações MIN-WIDTH: 1024px */


/*---------------FIM---------------*/


@media screen and (min-width: 1024px){

    .topicos__lista{
        width: 80%;
        margin: 2em auto;
    }

    .topicos__titulo, 
    .topicos__link{
        font-size: 24px;
    }

    .topicos__link{
        padding: .5em;
    }

    .topicos{
        padding: 2em 0;
    }

       

}

/*Configurações MIN-WIDTH: 1200px */


/*---------------FIM---------------*/


@media screen and (min-width: 1200px){

    .topicos__lista{
        width: 40%;
    }

    .topicos__link{
        padding: 1em;
    }

    .topicos__item{
        margin: 2.5em .5em;
    }

}
